body{
    background-color: black;    
}

header{
    font-family: 'Special Elite', cursive;
    font-weight:400;    
}

.content{
    font-family: 'Special Elite', cursive;
    max-width: 500px;
    margin: auto;
    background-color: black;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    }

/* border boxes for each div */

.userChoice{
    border: 3px solid yellowgreen;
    display: inline-block;
    background-color: whitesmoke;
    color: black;  
}

.compChoice{
    border: 3px solid yellowgreen;
    color: black;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;  
}

/* image button styles */
.rock{
    background-image: url("images/rock.PNG");
    height: 100px;
    width: 100px;
    background-size: cover;    
}
.rock:hover{
    height: 90px;
    width: 90px;
}

.paper{
    background-image: url("images/paper.PNG");
    height: 100px;
    width: 100px;
    background-size: cover;    
}
.paper:hover{
    height: 90px;
    width: 90px;
}

.scissors{
    background-image: url("images/scissors.PNG");
    height: 100px;
    width: 100px;
    background-size: cover;    
}
.scissors:hover{
    height: 90px;
    width: 90px;
}